.Toolbar {
  background-color: white;
  color: white;
}
.Toolbar .container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 987px; 
  margin: 0 auto;
  padding: 0 1rem;
  z-index: 6;
}
.Toolbar ul {
  display: flex;
  list-style-type: none;
  margin-left: 2.8rem;
}

@media (max-width: 620px) {
  .Toolbar ul {
    display: none;
  }
  .Toolbar .container{
    justify-content: space-between;
  }
}