.Toolbar {
  background-color: #3b2702;
  color: white;
  box-shadow: 0 0 10px rgba(210, 94, 17, 0.3);
}
.Toolbar .container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 987px;
  margin: 0 auto;
  padding: 0 1rem;
}
.Toolbar ul {
  display: flex;
  list-style-type: none;
}
@media (max-width: 620px) {
  .Toolbar ul {
    display: none;
  }
  .Toolbar .container{
    justify-content: space-between;
  }
}