.Footer {
  background-color: #000000;
  text-align: center;
  color: white;
  width: 100%;
  height: 300px;
}
/* .Footer ul{
 padding-top: 10rem;
}
.Footer ul a {
  margin: 10px;
  font-size: 16px;
  font-weight: bold;
}  */
.Footer p{
  font-size: 16px;
  font-weight: bold;
  width: 470px;
  margin: 0 auto;
} 