.NavItem a {
  display: block;
  padding: 1rem 1rem;
  color: white;
  font-size: 1rem;
  text-decoration: none;
  border-bottom: 3px solid transparent;
}
/* .NavItem a.active {
  border-color: white;
} */
.NavItem a:hover {
  color: aliceblue;
  border-color: rgb(180, 175, 175);
}
@media (max-width: 620px) {
  .NavItem a {
    border-bottom: none;
    border-right: 5px solid transparent;
  }
}